.finished {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.scores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.scores .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eachScores {
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;

}

.finished p {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.finished button {
    color: #fff;
    padding-block: 1rem;
}