.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subjectImg {
  width: 200px;
  height: auto;
  object-fit: cover;
  display: block;
}

.subjectText {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: left;
}
